/*****BASE STYLES*****/
body {
    font-family: 'Source Sans Pro', sans-serif;
}
#about, #work, #contact {
    height: 600px;
}
/*****GRID*****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}
/*****HEADER*****/
header {
        background: url(../img/hero.jpg);
        background-size: cover;
        height: 800px;
}
header h1 {
        color: #bbc085;
        font-family: 'Lora', serif;
        font-size: 30px;
        padding: 50px 0;
}
nav {
       float: right;
       padding: 75px 40px;
}
nav ul li {
       display: inline-block;
}
nav ul li a {
       color: #2b2b2b;
       font-family: ‘Source Sans Pro’, sans-serif;
       font-size: 18px;
       padding-left: 80px;
       text-decoration: none;
       text-transform: uppercase;
}
header h2 {
       clear: both;
       color: #9b9b9b;
       font-family: ‘Lora’, serif;
       font-size: 72px;
       line-height: 80px;
       padding: 20px 0;
       width: 1000px;
}
header h2 span {
    color: #2b2b2b;
}
/*****ABOUT*****/
#about .full-width {
    padding: 80px 0;
}
#about h2 {
    color: #2b2b2b;
    font-family: 'Lora', serif;
    font-size: 36px;
}
#about p {
    color: #7f7f7f;
    font-size: 21px;
    line-height: 40px;
    padding-right: 50px;
}
/*****WORK*****/
#work {
         background-color: #f9ceb7;
         text-align: center;
}
#work .full-width {
           padding: 115px 0;
}
#work img {
           padding-bottom: 30px;
}
#work h3 {
          color: #2b2b2b;
          font-family: ‘Source Sans Pro’, sans-serif;
          font-size: 24px;
          width: 200px;
          margin: 0 auto;
}
#work p {
         color: #2b2b2b;
         font-family: 'Lora', serif;
         font-size: 18px;
         line-height: 40px;
         padding: 0 35px;
}
/*****CONTACT*****/
#contact {
    background-color: #ebebeb;
}
#contact .full-width {
        padding: 110px 0;
}
#contact-img {
        border: 12px solid #ffffff;
}
#contact h2, #email-header, #socialmedia-header, #contact ul {
        padding-left: 115px;
}
#envelope {
       padding: 0 10px 0 115px;
}
#contact h2 { 
       color: #2b2b2b;
       font-family: ‘Lora’, serif;
       font-size: 36px;
}
#email-header {
       color: #2b2b2b;
       font-family: ’Source Sans Pro’, sans-serif;   
       font-size: 32px;
       font-weight: normal;
       margin: -30px 0 5px 0;
}
#socialmedia-header {
       color: #2b2b2b;
       font-family: ‘Source Sans Pro’, sans-serif;
       font-size: 29px;
       font-weight: bold;
       margin: 40px 0 0 0;
}
#contact a {
       color: #c49075;
       font-family: ‘Source Sans Pro’, sans-serif;
       font-size: 28px;
       font-weight: bold;
       text-decoration: none;
}
#contact ul {
      list-style: none;
}
#contact ul li {
      color: #c49075;
      display: inline-block;
}
#contact ul img {
      color: #c49075;
      padding-right: 48px;
}
